body {
  background-color: darkslategray;
}

h1 {
  color: lightslategray;
  font-size: 110px;
  text-shadow: 4px 2px slateblue;
  text-align: center;
}

body {
  font-family: verdana;
}
p.reply {
	padding-left: 50px;
}
.thread {
  color: ivory;
  border-style: solid;
  border-color: slategrey;
  border-width: 2px;
  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 25px;
  padding-left: 80px;
  outline-style: solid;
  outline-color: darkcyan;
  width: 50%;
  background-image: linear-gradient(lightslategray, darkcyan);
  margin: 25px 50px 75px;
  text-shadow: 2px 2px 4px #000000;
}
textarea {
  color: ivory;
  border-style: solid;
  border-color: slategrey;
  border-width: 2px;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  outline-style: solid;
  outline-color: darkcyan;
  width: 25%;
  background-image: linear-gradient(darkslategray, darkcyan);
  margin: 15px 35px 15px;
  text-shadow: 2px 2px 4px #000000;
}
input {
  color: ivory;
  border-style: solid;
  border-color: slategrey;
  border-width: 2px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  outline-style: solid;
  outline-color: darkcyan;
  width: 25%;
  background-image: linear-gradient(darkslategray, darkcyan);
  margin: 15px 35px 15px;
  text-shadow: 2px 2px 4px #000000;
}
}
.btn {
  color: ivory;
  width: 10%;
  background-image: linear-gradient(darkcyan, lightslategray);
  text-shadow: 2px 2px 4px #000000;
  margin: 5px;
}
img {
  margin: 75px 35px 15px;
  border-style: solid;
  border-color: slategrey;
  border-width: 2px; 
  width: 250px;
  height: auto;
}
.post {
	color: ivory;
	border-style: solid;
	border-color: darkslategrey;
}