body {
  background-color: floralwhite;
}

h1 {
  color: ivory;
  font-size: 80px;
  text-shadow: 5px 4px black;
  text-align: center;
}

p {
  font-family: verdana;
}
p.reply {
	padding-left: 50px;
}